@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  --background: #0a0a0a; /* Next.js dark */
  --foreground: #e5e7eb; /* neutral-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Conservamos un esquema oscuro por defecto para todo el sitio */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
